<a href="https://colab.research.google.com/github/Joselala123/ProyectoFCDIA/blob/main/ProyectoFCDIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FCDIA 2025-1 Proyecto 1er Parcial
**Dataset:** Divorcios 2022

**Integrantes:** Andrade Briones José y Gavino Gonzales Angel

# Lectura de csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("EDV_2022.csv",sep=";")

# Limpieza de datos

Utilizando **convert_dtypes()** se transforma las columnas de tipo Object de ser posible a String o int

In [ ]:
df=df.convert_dtypes()

Las columnas de tipo String se estandarizan con **strip() y casefold()** para eliminar posibles errores de tipeo e inconsistencias en el texto.

In [ ]:
for serie in df.columns:
  if df[serie].dtype=="String":
    df[serie]=df[serie].str.strip().str.casefold()

In [ ]:
df.isna().sum() #Niguna fila contiene datos nulos.

prov_insc     0
cant_insc     0
parr_insc     0
anio_insc     0
mes_insc      0
dia_insc      0
fecha_insc    0
anio_div      0
mes_div       0
dia_div       0
fecha_div     0
anio_mat      0
mes_mat       0
dia_mat       0
fecha_mat     0
mcap_bie      0
dur_mat       0
cau_div       0
nac_1         0
cod_pais1     0
sexo_1        0
anio_nac1     0
mes_nac1      0
dia_nac1      0
fecha_nac1    0
edad_1        0
hijos_1       0
p_etnica1     0
niv_inst1     0
sabe_leer1    0
prov_hab1     0
cant_hab1     0
parr_hab1     0
area_1        0
nac_2         0
cod_pais2     0
sexo_2        0
anio_nac2     0
mes_nac2      0
dia_nac2      0
fecha_nac2    0
edad_2        0
hijos_2       0
p_etnica2     0
niv_inst2     0
sabe_leer2    0
prov_hab2     0
cant_hab2     0
parr_hab2     0
area_2        0
dtype: int64

In [ ]:
print(df.duplicated().sum()) #Puesto que la suma da cero esto quiere decir que cada dato es unico.

0

Datos atipicos

In [ ]:
listaColumnasNumericas=df.select_dtypes(include='int64').columns.tolist() #Se selecciona las columnas numericas del df
print(listaColumnasNumericas)
listaColumnasNumericas.remove("anio_insc")
listaColumnasNumericas.remove("dia_insc")

for columna in listaColumnasNumericas:
  print("COLUMNA: "+columna)
  serie=df[columna]
  q1=serie.quantile(0.25)
  q3=serie.quantile(0.75)
  iqr=q3-q1
  limInferior=q1-1.5*iqr
  limSuperior=q3+1.5*iqr
  datosAtipicos=serie[(serie<limInferior) | (serie>limSuperior)]
  print(datosAtipicos.head())
  print(datosAtipicos.tail())

['anio_insc', 'dia_insc', 'anio_div', 'dia_div', 'anio_mat', 'dia_mat', 'dur_mat', 'anio_nac1', 'dia_nac1', 'edad_1', 'hijos_1', 'anio_nac2', 'dia_nac2', 'edad_2', 'hijos_2']
COLUMNA: anio_div
0    2021
3    2018
4    2021
7    2021
8    2021
Name: anio_div, dtype: int64
24550    2021
24559    2021
24569    2019
24589    2017
24591    2019
Name: anio_div, dtype: int64
COLUMNA: dia_div
Series([], Name: dia_div, dtype: int64)
Series([], Name: dia_div, dtype: int64)
COLUMNA: anio_mat
115    1968
155    1970
236    1970
542    1970
635    1969
Name: anio_mat, dtype: int64
23326    1970
23915    1972
24088    1968
24219    1969
24543    1967
Name: anio_mat, dtype: int64
COLUMNA: dia_mat
Series([], Name: dia_mat, dtype: int64)
Series([], Name: dia_mat, dtype: int64)
COLUMNA: dur_mat
115    53
155    51
236    51
542    51
635    52
Name: dur_mat, dtype: int64
23187    51
23326    52
23915    49
24219    53
24543    54
Name: dur_mat, dtype: int64
COLUMNA: anio_nac1
542    1941
635    1937
824    1944
836    1942
865    1945
Name: anio_nac1, dtype: int64
24386    1938
24469    1942
24516    1941
24543    1939
24570    9999
Name: anio_nac1, dtype: int64
COLUMNA: dia_nac1
8060     99
13284    99
14125    99
16249    99
17743    99
Name: dia_nac1, dtype: int64
19801    99
20426    99
22929    99
23476    99
24570    99
Name: dia_nac1, dtype: int64
COLUMNA: edad_1
542     80
635     84
836     79
919     78
1077    78
Name: edad_1, dtype: int64
24386     84
24469     80
24516     81
24543     83
24570    999
Name: edad_1, dtype: int64
COLUMNA: hijos_1
1      1
2      1
8     99
19    99
20     9
Name: hijos_1, dtype: int64
24562     1
24570    99
24572     2
24573     1
24586     3
Name: hijos_1, dtype: int64
COLUMNA: anio_nac2
14      1946
542     1948
635     1946
766     1946
1077    1946
Name: anio_nac2, dtype: int64
23076    1941
23326    1948
24088    1945
24199    1943
24543    1947
Name: anio_nac2, dtype: int64
COLUMNA: dia_nac2
1629     99
5417     99
15029    99
17144    99
20684    99
Name: dia_nac2, dtype: int64
1629     99
5417     99
15029    99
17144    99
20684    99
Name: dia_nac2, dtype: int64
COLUMNA: edad_2
14     75
140    71
542    73
635    75
766    76
Name: edad_2, dtype: int64
24199    79
24501    73
24511    72
24516    73
24543    75
Name: edad_2, dtype: int64
COLUMNA: hijos_2
8      4
19    99
20    99
59     4
61     3
Name: hijos_2, dtype: int64
24531     3
24541    99
24547    99
24559    99
24579     3
Name: hijos_2, dtype: int64

# Sección 1

In [ ]:
df #Hola
#algo

,prov_insc,cant_insc,parr_insc,anio_insc,mes_insc,dia_insc,fecha_insc,anio_div,mes_div,dia_div,...,fecha_nac2,edad_2,hijos_2,p_etnica2,niv_inst2,sabe_leer2,prov_hab2,cant_hab2,parr_hab2,area_2
0,Chimborazo,Riobamba,Lizarzaburu,2022,Enero,7,1/7/2022,2021,Diciembre,7,...,4/26/1981,40,0,Mestizo,Superior Universitario,Si,Chimborazo,Riobamba,Maldonado,Urbana
1,Bolívar,Chillanes,"Chillanes, cabecera cantonal",2022,Enero,24,1/24/2022,2022,Enero,18,...,6/12/1986,35,1,Mestizo,Educación Básica,Si,Bolívar,Chillanes,"Chillanes, cabecera cantonal",Urbana
2,Morona Santiago,Gualaquiza,Gualaquiza,2022,Febrero,21,2/21/2022,2022,Febrero,8,...,1/1/1985,37,1,Mestizo,Secundaria,Si,Morona Santiago,Gualaquiza,Gualaquiza,Urbana
3,Morona Santiago,Gualaquiza,Gualaquiza,2022,Febrero,1,2/1/2022,2018,Febrero,5,...,10/13/1961,60,0,Mestizo,Ninguno,Si,Morona Santiago,Gualaquiza,Gualaquiza,Urbana
4,Pichincha,Quito,Tumbaco,2022,Enero,4,1/4/2022,2021,Mayo,28,...,7/28/1993,28,1,Mestizo,Educación media / Bachillerato,Si,Pichincha,Quito,Tumbaco,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24590,Guayas,Guayaquil,Rocafuerte,2022,Septiembre,7,9/7/2022,2022,Junio,29,...,9/8/1992,29,1,Mestizo,Superior Universitario,Si,Guayas,Guayaquil,Pascuales,Urbana
24591,Manabí,Portoviejo,18 de Octubre,2022,Agosto,30,8/30/2022,2019,Agosto,16,...,7/21/1997,25,2,Mestizo,Secundaria,Si,Manabí,Portoviejo,18 de Octubre,Urbana
24592,El Oro,Zaruma,"Zaruma, cabecera cantonal",2022,Agosto,25,8/25/2022,2022,Julio,28,...,3/6/1972,50,0,Mestizo,Educación Básica,Si,El Oro,Zaruma,Guizhaguiña,Rural
24593,Cotopaxi,Latacunga,Ignacio Flores (parque Flores),2022,Junio,20,6/20/2022,2022,Marzo,7,...,5/20/1997,25,0,Mestizo,Educación media / Bachillerato,Si,Cotopaxi,Latacunga,Eloy Alfaro (San Felipe),Urbana
24594,Chimborazo,Riobamba,Lizarzaburu,2022,Junio,8,6/8/2022,2022,Abril,18,...,3/28/1980,42,1,Mestizo,Superior Universitario,Si,Chimborazo,Riobamba,Velasco,Urbana